body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
}

.bg-image {
    width: 100%;
    height: 100vh;
    background-image: url('/starry_sky_milky_way_stars_night_118495_1920x1200.jpg');
    background-position:center;
    background-attachment: fixed;
}
.conteiner {
    padding: 50px;
}


@media (max-width: 500px){
    .conteiner {
        padding:10px;
    }
}